.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.calendar-controls button {
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
}

.calendar {
  width: 300px;
  margin: 20px auto;
}

.calendar-header,
.calendar-week {
  display: flex;
}

.calendar-day-name,
.calendar-day {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.calendar-day {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.calendar-day:hover {
  background-color: #eee;
  transform: scale(1.1);
}

.calendar-day.empty {
  background-color: #f9f9f9;
  cursor: default;
  border: none;
}


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/